{% extends "base_form.html" %}

{% block name_apartado %}
<!-- aca se ingresa el titulo del apartado -->
4. FUNCIONES MISIONALES  DE INVESTIGACION
{% endblock%}

{% block name_subapartado %}
<!-- aca se ingresa el titulo del subapartado -->
4.1 PARTICIPACIÓN EN GRUPOS DE INVESTIGACIÓN (Avalados por la universidad del Atlántico)
{% endblock%}

{% block description %}
<!-- aca se ingresa la descripcion de la seccion -->
{% endblock%}

{% block form %}
<!-- aca se ingresa el contenido del formulario -->
{% endblock %}
