{% extends "base_form.html" %}

{% block name_apartado %}
<!-- aca se ingresa el titulo del apartado -->
5. EXTENSIÓN Y PROYECCIÓN SOCIAL
{% endblock%}

{% block name_subapartado %}
<!-- aca se ingresa el titulo del subapartado -->
5.3 PROYECTOS DE PROYECCIÓN SOCIAL EJECUTADOS CON INTERVENCIÓN EN POBLACIÓN PRIORIZADA, CON ENFOQUE DIFERENCIAL Y/O CAPACIDADES DIVERSAS
{% endblock%}

{% block description %}
<!-- aca se ingresa la descripcion de la seccion -->
{% endblock%}

{% block form %}
<!-- aca se ingresa el contenido del formulario -->
{% endblock %}
