{% extends "base.html" %}
{% block content %}
<h2 class="main-title">
	informe semestral docente 2023-2
</h2>

<div class="contenedor_sections_menu">
	<div class="cont-opt-sections bg-orange">
		<p class="opt-sections-text">{% block name_apartado %}{% endblock %}</p>
	</div>
</div>

<h6>{% block name_subapartado %}{% endblock %}</h6>
<p class="general-description">{% block description %}{% endblock %}</p>

<form method="POST">

	{% block form %}
	{% endblock %}

	<div class="cont-atras-sig-btns">
		<button type="submit" name="action" value="back" class="btn-atras btn-general">
			atrás
		</button>
		<button type="submit" name="action" value="next" class="btn-siguiente btn-general">
			siguiente
		</button>
	</div>

</form>
	
{% endblock %}
