{% extends "base_form.html" %}

{% block name_apartado %}
<!-- aca se ingresa el titulo de la seccion -->
2. función misional de docencia
{% endblock%}

{% block name_subapartado %}
<!-- aca se ingresa el titulo de la seccion -->
2.1 asignaturas en el pta
{% endblock%}

{% block description %}
<!-- aca se ingresa la descripcion de la seccion -->
A continuación, encontrarás las asignaturas que aparecen en tu Programa de Trabajo Académico (PTA). 
{% endblock%}

{% block form %}
<!-- aca se ingresa el contenido del formulario -->
	{% for clase in clases.values() %}
	<div class="container-question">
		<div  onclick="toggleClasesContent({{clase['code']}})" class="question-header bg-orange-light">
			<div class="cont-question-header-text">
				<div class="font-size-16">
					{{ clase["name"] }}
				</div>
				<div class="font-size-14">
					Código: {{ clase["code"] }}
				</div>
				<div class="font-size-14">
					Programa: {{ clase["programa"] }}
				</div>

			</div>
			<div id="arrow_{{ clase['code']}}" class="question-header-arrow closed">
				{% if not clase["open-html"] %}

				&#62;
				{% else %}
				&#8744;
				{% endif %}
			</div>
		</div>
		
		<div id="content_clase_{{ clase['code'] }}" class='container-question-content {% if not clase["open-html"] %}hidden-element{% endif %}'>
			<div class='single-question-cont'>
				<p class="font-size-14">
				Indica si la actividad docente se llevó a cabo
				</p>
				<div class="radio-btns-cont">
					<div>
						<input type="radio" name="done_{{clase['code']}}" value="si">Si
					</div>
					<div>
						<input type="radio" name="done_{{clase['code']}}" value="no">No
					</div>
				</div>
			</div>

			<div class='single-question-cont'>
				<p class="font-size-14">
				Obsevaciones sobre el desarollo de las actividades docentes
				</p>
				<div class="textarea-btns-cont">
					<textarea name="observaciones_{{clase["code"]}}" rows="10"></textarea>
				</div>
			</div>

			<div class='single-question-cont'>
				<p class="font-size-14">
				Contenidos que abordar temáticas ciudadanas y de responsabilidad social
				</p>
				<div class="textarea-btns-cont">
					<textarea name="tematicas_{{clase["code"]}}" rows="10"></textarea>
				</div>
			</div>

			<!--<div class='single-question-cont'>
				<label for="nivel-formacion">
					<p class="label-question font-size-14">
					Nivel máximo de formación
					</h4>
				</label>
				<select class='drop-down dd-v2' name="nivel-formacion" id="nivel-formacion">
					{% for nivel in niveles%}
					<option value="{{nivel}}" {% if nivel == nivel_actual %}selected{% endif %}>{{nivel}}</option>
					{% endfor %}
				</select>
			</div>-->

		</div>


	</div>
	{% endfor %}
{% endblock %}


