{% extends "base.html" %}
{% block content %}
  <h2 class="main-title">
	  iniciar sesion
  </h2>
  <form method="POST">
    <div class="form-item">
      <label for="email">
	<h3 class="label-login">
	  correo electrónico institucional
	</h3>
      </label>
      <input type="email" id="email" name="email" class="input-text" required>
      <h5>Ej. nombreusuario@mail.uniatlantico.edu.co</h5>
    </div>
    <div class="form-item">
      <label for="passwd">
	<h3 class="label-login">
	  contraseña
	</h3>
      </label>
      <input type="password" id="passwd" name="passwd" class="input-text" required>
    </div>
    <div class="btn-container form-item">
      <input type="submit" value="entrar" class="btn">
    </div>

    <div class="btn-container form-item underline">
      <a href="/recovery_password">¿Olvidó su contraseña?</a>
    </div>
  </form>

    <div class="btn-container form-item">
      <img class="logo-ua" src="{{ url_for('static', filename='images/logo_ua.png') }}" alt="Universidad del Atlántico">
    </div>
{% endblock %}
