{% extends "base.html" %}
{% block content %}
<h2 class="main-title">Selecciona alguno de los apartados para comenzar a editar</h2>

<div class="contenedor_sections_menu">
	<a href="info_docente">
		<div class="cont-opt-sections bg-orange">
			<p class="opt-sections-text">1. informacion docente</p>
		</div>
	</a>
	<a href="/inicio">
		<div class="cont-opt-sections bg-orange">
			<p class="opt-sections-text">2. funciones misionales de docencia</p>
		</div>
	</a>
	<a href="/inicio">
		<div class="cont-opt-sections bg-orange">
			<p class="opt-sections-text">3. funciones misionales de investigacion</p>
		</div>
	</a>
	<a href="/inicio">
		<div class="cont-opt-sections bg-orange">
			<p class="opt-sections-text">4. semilleros de investigacion</p>
		</div>
	</a>
	<a href="/inicio">
		<div class="cont-opt-sections bg-orange">
			<p class="opt-sections-text">5. extension y proyeccion social</p>
		</div>
	</a>
	<a href="/inicio">
		<div class="cont-opt-sections bg-orange">
			<p class="opt-sections-text">6. informe detallado de bienestar</p>
		</div>
	</a>
</div>

<div class="btn-container form-item underline">
	<a href="/inicio">&#8592; regresar</a>
</div>

<div class="btn-container form-item">
	<img class="logo-ua" src="{{ url_for('static', filename='images/logo_ua.png') }}" alt="Universidad del Atlántico">
</div>
{% endblock %}


