* {
margin: 0;
padding: 0;
 }

body {
	background-color: #FEFEFE;
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	padding-left: 36px;
	padding-right: 36px;
}

h2 {
	padding-top: 36px;
	padding-bottom: 36px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	color: #1D2752;
}

h3 {
	text-transform: capitalize;
	text-align: start;
	font-size: 16px;
	color: #707070;
	line-height: 19px;
}

h5 {
	text-align: start;
	font-size: 13px;
	color: #BAB6B6;
	line-height: 17px;
}

a {
	font-size: 14px;
	color: #4E5980;
	text-decoration: none;
}

h6 {
	font-size: 16px;
	color:#C2792A;
	text-transform: uppercase;
	margin-bottom: 16px;
}


textarea {
	width:100%;
	resize: vertical;
}

button {
	cursor:pointer;
}


.font-size-14 {
	font-size: 14px;
}


.font-size-16 {
	font-size: 16px;
}

.underline {
	text-decoration: underline;
}

.menu-container {
	height: 50px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.line-menu {
	border-radius: 10px;
	height: 5px;
	width: 34px;
	background: white;
	margin: 3px 0;
}

.main-container {
	width: 100%;
	max-width: 375px;
	background-color: #EFEFEF;
	min-height: 100vh;
}

button {

	font-family: 'Montserrat', sans-serif;
}

.main-topbar {
	width: 100%;
	background-color: #1b3867;
}

.hidden-element {
	display:none;
}

.logout {
	width: 100%;
	height: 26px;
	text-align: center;
}

.logout-text {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
}

.main-title {
}

.input-text {
	margin: 3px 36px;
	width: 100%;
	max-width: 297px;
	padding: 10px 3px;
	border: none;
}

.form-item {
	padding-bottom: 31px; 
}

.btn-container {
	display:flex;
	flex-direction: row;
	justify-content:center;
}

.btn {
	margin: 0 36px;
	text-transform: uppercase;
	border:none;
	background:#D07538;
	border-radius: 23px;
	padding:14px 46px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #EAEAEA;
}

.logo-ua {
	width: 204px;
	margin-top: 44px;
}

.text-block {
	padding: 20px 42px;
	text-align: center;
}

.saludo {
	color: #1D2752;
	font-size: 20px;
	font-weight: 500;
}
.contenedor_opt_init {
	display: flex;
	flex-direction:column;
	gap: 25px;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

.msg-welcome {
	color: #707070;
	font-size: 15px;
	font-weight: 300;
}

.bg-orange {
	background: #D07538;
}

.bg-orange-light {
	background: #D8A367;
}

.bg-blue-1 {
	background: #1B3867;
}


.bg-blue-2 {
	background: #7C849D;
}

.box-init {
	border-radius: 9px;
	width: 147px;
	height:147px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	filter: drop-shadow(#00000029 3px 3px 6px);
}

.box-init-text {
	padding: 0 10px;
	text-align: center;
	color: #EAEAEA;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;

}

.contenedor_sections_menu {
	margin: 20px 0;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items: start;
	gap: 16px;
	filter: drop-shadow(#00000029 3px 3px 6px);
}

.cont-opt-sections {
	display: flex;
	flex-direction:column;
	justify-content: center;
	width: 352px;
	height: 60px;
	border-radius: 0 30px 30px 0;
}

.opt-sections-text {
	color: #EAEAEA;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 53px;
}

.fake-input-1 {
	background: #F4F4F4;
	margin: 0 36px;
	height: 13px;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 16px;
	color: #6A6363;
	border: solid 2px #EAE8E8;
}

.drop-down {
	background: white;
	border-width: 2px;
	height: 33px;
	padding: 0 10px;
	font-family: 'Montserrat', sans-serif;
	border: solid 2px #EAE8E8;
}

.dd-v1 {
	width: 303px;
	margin: 0 36px;
}

.dd-v2 {
	width: 290px;
}

.cont-atras-sig-btns {
	display: flex;
	justify-content: space-between;
	margin:36px;
}

.btn-general {
	width: 100px;
	height: 36px;
	border: solid 1px #C2792A;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.btn-siguiente {
	color: #FFFFFF;
	background: #C2792A;
}

.btn-atras {

	background: #FFFFFF;
	color: #C2792A;
}

.general-description {
	font-size:16px;
	padding: 18px 36px 36px 36px;
	color: #393939;
	font-size: 16px;
}

.container-question {
	padding: 25px;
}

.question-header {
	display:flex;
	color: #FCFCFC;
	border-radius: 8px 8px 0 0;
	cursor: pointer;
	user-select: none;
}

.cont-question-header-text {
	flex-grow: 1;
	padding: 20px;

}

.question-header-arrow {
	flex-basis: 37px;
	font-size: 32px;
	display: flex;
	align-items: center;
}

.hidden {
	display: hidden;
}

.single-question-cont {
	display:flex;
	flex-direction:column;
	gap: 10px;
	padding: 10px 20px;
}

.radio-btns-cont {
	display: flex;
	gap: 30px;
}

.container-question-content {
	background: #FCFCFC;
	padding: 10px 0;
	border-radius: 0 0 8px 8px;
}
